.auth_title {
    font-weight: normal;
    text-align: center;
  }
  .auth_error {
    color: #ff0000;
    text-align: center;
    margin: 10px;
  }
  .auth_signUp {
    display: flex;
    flex-direction: column;
  }
  .auth_headerImage {
    object-fit: contain;
  }
  .auth_text {
    color: rgb(6, 153, 211);
    text-align: center;
    cursor: pointer;
  }
  .auth_progress {
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }